@font-face {
	font-family: 'icons';
		src: url('../font/icons.eot?34439810');
		src: url('../font/icons.eot?34439810#iefix') format('embedded-opentype'),
		url('../font/icons.woff?34439810') format('woff'),
		url('../font/icons.ttf?34439810') format('truetype'),
		url('../font/icons.svg?34439810#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}



.icons{		
	margin:auto;
	width:300px;
	font-size:0;
	padding:0px;	
}

.icons__i{
	list-style:none;
	width:77px;
	height:77px;	
	display:inline-block;
	border-radius:50%;	
	margin:10px;	
	box-shadow:0 2px 3px rgba(0,0,0,0.5),
				0 2px 3px rgba(255,255,255,0.5) inset;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
	text-align: center;
	
}

.icons__i:hover{
	background-image: linear-gradient(to top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
	
}

.icons__i:before{
	font: normal normal 45px/1em "icons";
	display: inline-block;	
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,.2);	
	padding-top:23%;	
}

.icons__i:hover:before{
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;				
	
	
	color:black;
	-moz-transform: matrix(-1, 0, 0, 1.2, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1.2, 0, 0);
    -o-transform: matrix(1, 0, 0, 1.2, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1.2, 0, 0);
}

.i_home{background-color:#00a21e;}
.i_trash{background-color:#ad0a0a;}
.i_backspace{background-color:#e4b204;}
.i_music{background-color:#f10cde;}
.i_wait{background-color:#999999;}
.i_cloud{background-color:#117ec5;}
.i_create{background-color:#07cd2c;}
.i_edit{background-color:#a70499;}
.i_info{background-color:#09e6ee;}

.i_home:before{content: '\e800';}
.i_trash:before{content: '\e801';}
.i_backspace:before{content: '\e802';}
.i_music:before{content: '\e803';}
.i_wait:before{content: '\e804';}
.i_cloud:before{content: '\e805';}
.i_create:before{content: '\e806';}
.i_edit:before{content: '\e807';}
.i_info:before{content: '\e808';}
