@font-face {
	font-family: 'icons';
		src: url('../font/icons.eot?34439810');
		src: url('../font/icons.eot?34439810#iefix') format('embedded-opentype'),
		url('../font/icons.woff?34439810') format('woff'),
		url('../font/icons.ttf?34439810') format('truetype'),
		url('../font/icons.svg?34439810#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
background: repeating-linear-gradient(
  to right,
  #f6ba52,
  #f6ba52 10px,
  #ffd180 10px,
  #ffd180 20px
);
}


.icons{		
	margin:auto;
	width:300px;
	font-size:0;
	padding:0px;	
}

.icons__i{
	list-style:none;
	width:77px;
	height:77px;	
	display:inline-block;
	border-radius:50%;	
	margin:10px;	
	box-shadow:0 2px 3px rgba(0,0,0,0.5),
				0 2px 3px rgba(255,255,255,0.5) inset;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
	text-align: center;
	
}

.icons__i:hover{
	background-image: linear-gradient(to top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
	width:77px;
	height:77x;
	
	border-radius:10px ;
	perspective: 20px;
	-webkit-box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 10px rgba(255,255,255,0.2),
		inset 0 10px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 10px rgba(255,255,255,0.2),
		inset 0 10px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
	box-shadow:
		0 2px 6px rgba(0,0,0,0.5),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 10px rgba(255,255,255,0.2),
		inset 0 10px 20px rgba(255,255,255,0.25),
		inset 0 -15px 30px rgba(0,0,0,0.3);
	background:rgba(0,0,0,0.25);
	
	
}

.icons__i:before{
	font: normal normal 45px/1em "icons";
	display: inline-block;	
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,.2);	
	padding-top:23%;	
}

.icons__i:hover:before{
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
	
	
	color:black;
	-moz-transform: matrix(-1, 0, 0, 1.2, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1.2, 0, 0);
    -o-transform: matrix(1, 0, 0, 1.2, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1.2, 0, 0);
	transition-timing-function: ease;
    transition-duration: 3s;
}

.i_home{background-color:#00a21e;}
.i_trash{background-color:#ad0a0a;}
.i_backspace{background-color:#e4b204;}
.i_music{background-color:#f10cde;}
.i_wait{background-color:#999999;}
.i_cloud{background-color:#117ec5;}
.i_create{background-color:#07cd2c;}
.i_edit{background-color:#a70499;}
.i_info{background-color:#09e6ee;}

.i_home:hover{transform: perspective( 600px ) rotateX( -30deg ) rotateY( 30deg );}
.i_trash:hover{transform: perspective( 600px ) rotateX( -35deg );}
.i_backspace:hover{transform: perspective( 600px ) rotateX( -30deg ) rotateY( -30deg );}
.i_music:hover{transform: perspective( 600px ) rotateY( 35deg );}
.i_wait:hover{ transform: rotate(180deg); transition-timing-function: ease; transition-duration: 3s; border-radius:50%;}
.i_cloud:hover{transform: perspective( 600px ) rotateY( -25deg );}
.i_create:hover{transform: perspective( 600px ) rotateX( 30deg ) rotateY( 30deg );}
.i_edit:hover{transform: perspective( 600px ) rotateX( 35deg );}
.i_info:hover{transform: perspective( 600px ) rotateX( 30deg ) rotateY( -30deg );}

.i_wait:hover:before{ transform: rotate(-180deg); transition-timing-function: ease; transition-duration: 3s; padding-top:0%; }

.i_home:before{content: '\e800';}
.i_trash:before{content: '\e801';}
.i_backspace:before{content: '\e802';}
.i_music:before{content: '\e803';}
.i_wait:before{content: '\e804';}
.i_cloud:before{content: '\e805';}
.i_create:before{content: '\e806';}
.i_edit:before{content: '\e807';}
.i_info:before{content: '\e808';}
